a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
}

address {
  font-style: inherit;
}

body {
  font-family: 'roboto', sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  padding-top: 80px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.hide {
  position: absolute;
  width: 1;
  height: 1;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.icon {
  fill: currentColor;
}

.work-title,
.team-title,
.company-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 0.8;
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  border-bottom: 1px solid #f5f4fa;
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.main-nav {
  margin-left: 85px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.main-nav .link {
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 2px;
}

.flex-nav .link:hover, .flex-nav .link:focus {
  color: #2196f3;
}

.active {
  position: relative;
  color: #2196f3;
}

.active:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: #2196f3 solid 2px;
  border-radius: 2px;
  content: '';
}

.main-nav .item + .item {
  margin-left: 50px;
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 50px;
}

.mail:hover, .mail:focus {
  color: #2196f3;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.phone:hover, .phone:focus {
  color: #2196f3;
}

.address-text {
  margin-left: 10px;
}

.icon-mail {
  width: 16px;
  height: 11px;
}

.icon-phone {
  width: 10px;
  height: 15px;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  width: 153px;
  height: 31px;
  -webkit-transition: 250ms text-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms text-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo:hover, .header-logo:focus {
  text-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  -webkit-transition: 250ms text-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms text-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-studio {
  color: #ffffff;
}

.footer-logo:hover, .footer-logo:focus {
  text-shadow: 1px 4px 6px rgba(255, 255, 255, 0.16), 0px 4px 4px rgba(182, 173, 173, 0.06), 0px 1px 1px rgba(179, 165, 165, 0.12);
}

.logo-web {
  color: #2196f3;
}

.hero {
  padding: 200px 0;
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.8);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/hero-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/hero-img.jpg);
  background-repeat: no-repeat;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-link {
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover, .hero-link:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(255, 255, 255, 0.16), 0px 4px 4px rgba(255, 252, 252, 0.06), 0px 1px 1px rgba(209, 197, 197, 0.12);
          box-shadow: 1px 4px 6px rgba(255, 255, 255, 0.16), 0px 4px 4px rgba(255, 252, 252, 0.06), 0px 1px 1px rgba(209, 197, 197, 0.12);
}

.btn {
  display: inline-block;
  min-width: 200px;
  border: 1px solid transparent;
  padding: 10px 32px;
  border-radius: 6px;
  color: #ffffff;
  background-color: #2196f3;
}

.btn:hover, .btn:focus {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn:active {
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 20;
  opacity: 1;
  -webkit-transition: 150ms all cubic-bezier(0.4, 0, 0.2, 1);
  transition: 150ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  opacity: 1;
  -webkit-transition: 250ms all cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-title {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #212121;
}

.form-aria {
  position: relative;
  display: block;
  margin-bottom: 28px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.user-data:hover ~ .icon,
.user-data:focus ~ .icon {
  color: #2196f3;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 28px;
}

.user-data {
  display: block;
  width: 100%;
  padding: 12px 42px;
  border: 1px solid transparent;
}

.user-data:focus, .user-data:hover {
  border-color: #2196f3;
  outline: #2196f3;
}

.label {
  display: block;
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
}

.user-data:not(:placeholder-shown) + .label {
  -webkit-transform: translateY(-42px) translateX(-38px);
          transform: translateY(-42px) translateX(-38px);
  /* color: $accent-collor; */
}

/* text aria  */
.text-aria {
  position: relative;
}

.coment-title {
  position: absolute;
  top: 12px;
  left: 13px;
  -webkit-transition: 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
}

.coment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
}

.coment:hover, .coment:focus {
  border-color: #2196f3;
  outline: #2196f3;
}

.coment:hover + .coment-title,
.coment:focus + .coment-title {
  color: #2196f3;
  -webkit-animation: comentGO 300ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: comentGO 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.coment:not(:placeholder-shown) + .coment-title {
  -webkit-transform: translateY(-35px) translateX(-9px);
          transform: translateY(-35px) translateX(-9px);
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 30px;
}

.policy .link {
  margin-left: 4px;
  color: #2196f3;
  text-decoration: underline;
}

.policy-icon {
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
  -webkit-transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked {
  -webkit-transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked:focus + .policy-icon,
.checkbox:checked:hover + .policy-icon {
  border-color: #212121;
}

.checkbox:checked + .policy-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../img/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox:focus + .policy-icon,
.checkbox:hover + .policy-icon {
  border-color: #2196f3;
}

.form .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 200px;
  -webkit-transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.form .btn:hover, .form .btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form .btn:active {
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.close-btn:hover {
  color: #2196f3;
}

.icon-close-modal {
  width: 11px;
  height: 11px;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-name-modal,
.icon-phone-modal,
.icon-mail-modal {
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 50%;
  left: 19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.user-data:hover + .label,
.user-data:focus + .label {
  color: #2196f3;
  border-color: #2196f3;
  -webkit-animation: textGO 250ms cubic-bezier(0.4, 0, 0.2, 1);
          animation: textGO 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes textGO {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateY(-35px);
            transform: translateY(-50%) translateY(-35px);
  }
  100% {
    -webkit-transform: translateY(-50%) translateY(-35px) translateX(-38px);
            transform: translateY(-50%) translateY(-35px) translateX(-38px);
  }
}

@keyframes textGO {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateY(-35px);
            transform: translateY(-50%) translateY(-35px);
  }
  100% {
    -webkit-transform: translateY(-50%) translateY(-35px) translateX(-38px);
            transform: translateY(-50%) translateY(-35px) translateX(-38px);
  }
}

@-webkit-keyframes comentGO {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateY(-27px);
            transform: translateY(-50%) translateY(-27px);
  }
  100% {
    -webkit-transform: translateY(-50%) translateY(-27px) translateX(-9px);
            transform: translateY(-50%) translateY(-27px) translateX(-9px);
  }
}

@keyframes comentGO {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateY(-27px);
            transform: translateY(-50%) translateY(-27px);
  }
  100% {
    -webkit-transform: translateY(-50%) translateY(-27px) translateX(-9px);
            transform: translateY(-50%) translateY(-27px) translateX(-9px);
  }
}

.features {
  padding-top: 94px;
}

.features-item {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-item:before {
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.features-text {
  margin-top: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
}

.features-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-flex .item + .item {
  margin-left: 30px;
}

.icon-feature-1::before {
  background-image: url(../img/feature-1.svg);
}

.icon-feature-2::before {
  background-image: url(../img/feature-2.svg);
}

.icon-feature-3::before {
  background-image: url(../img/feature-3.svg);
}

.icon-feature-4::before {
  background-image: url(../img/feature-4.svg);
}

.work {
  padding: 94px 0;
}

.work-item {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.work-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.work-flex .item + .item {
  margin-left: 30px;
}

.box {
  position: relative;
  -webkit-transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.box-title {
  position: absolute;
  bottom: 0;
  width: 370px;
  padding: 27px 82px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding: 94px 0;
  background-color: #f5f4fa;
}

.team-name {
  margin-top: 30px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.team-flex .human + .human {
  margin-left: 30px;
}

.human {
  width: 270px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.human-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px;
}

.human-contacts .item + .item {
  margin-left: 10px;
}

.human-contacts .icon {
  width: 20px;
  height: 20px;
}

.human-contacts .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: #ffffff;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.human-contacts .link:hover, .human-contacts .link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.human > p {
  margin-top: 10px;
}

.company {
  padding: 94px 0;
  text-align: center;
}

.company-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.company-list .company-item + .company-item {
  margin-left: 30px;
}

.company-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.company-item .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: transparent;
  width: 100%;
  height: 100%;
}

.company-item:hover, .company-item:focus-within {
  border-color: #2196f3;
  color: #2196f3;
}

.logo-1 {
  width: 45px;
  height: 50px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 43px;
}

.logo-4 {
  width: 80px;
  height: 42px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 89px;
  height: 45px;
}

footer {
  color: #ffffff;
  background-color: #2f303a;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 48px;
  padding-bottom: 28px;
}

.footer-address {
  width: 229px;
  display: inline-block;
  color: #ffffff;
  margin-top: 8px;
}

.contacts .link {
  display: block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover, .contacts .link:focus {
  color: #2196f3;
}

.subscribe-conteiner {
  margin-left: 69px;
}

.subscribe {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.sub-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-flex .item + .item {
  margin-left: 10px;
}

.btn-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid transparent;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-icon:hover, .btn-icon:focus {
  background-color: #2196f3;
}

.btn-icon:active {
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 94px;
  width: 100%;
}

.footer-form {
  position: relative;
  display: block;
}

.footer-input {
  display: inline-block;
  margin-right: auto;
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  -webkit-transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover, .footer-input:focus {
  border-color: #2196f3;
  outline: transparent;
}

.footer-input:hover + .text-mail,
.footer-input:focus + .text-mail {
  color: #2196f3;
}

.text-mail {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:not(:placeholder-shown) + .text-mail {
  opacity: 0;
}

.form-conteiner .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  -webkit-transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.form-conteiner .btn:hover, .form-conteiner .btn:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(230, 218, 218, 0.16), 0px 4px 4px rgba(175, 145, 145, 0.06), 0px 1px 1px rgba(133, 130, 130, 0.12);
          box-shadow: 1px 4px 6px rgba(230, 218, 218, 0.16), 0px 4px 4px rgba(175, 145, 145, 0.06), 0px 1px 1px rgba(133, 130, 130, 0.12);
}

.form-conteiner .btn::after {
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../img/icon-send.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-instagram {
  background-image: url(../img/instagram-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-twitter {
  background-image: url(../img/twitter-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-facebook {
  background-image: url(../img/facebook-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-linkedin {
  background-image: url(../img/linkedin-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.c-right {
  padding: 18px 0 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio {
  padding: 94px 0;
}

/* filtr */
.filtr-item {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1), 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1), 250ms opacity cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filtr-flex .item + .item {
  margin-left: 8px;
}

.btn-secondary {
  display: inline-block;
  min-width: 73px;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: 250ms all cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-secondary:hover, .btn-secondary:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.btn-secondary:active {
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-card {
  width: 370px;
  border: 1px solid #eeeeee;
  margin-top: 50px;
  margin-right: 30px;
}

.portfolio-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card:nth-child(n + 4) {
  margin-top: 30px;
}

.portfolio-card:hover, .portfolio-card:focus-within {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1), 250ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .filtr-item,
.portfolio-card:focus-within .filtr-item {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.portfolio-card .animation {
  position: relative;
  overflow: hidden;
}

.portfolio-card .description {
  padding-left: 24px;
}

.projects-item {
  margin: 20px 0 4px 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
}

.portfolio-card a {
  display: block;
  padding-bottom: 20px;
}

.portfolio-card p {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */