/* Палитра цветов */
/* 
    Основной фон  #FFFFFF;
    Вторичный фон  #F5F4FA;
    Футер фон #2F303A;
    Акцент #2196F3;
    Иконки по умолчанию #AFB1B8;
    Основной цвет текста #757575;
    Вторичный цвет текста #212121;
    
    
*/

:root {
  --main-backgrond: #ffffff;
  --secondary-backgrond: #f5f4fa;
  --accent-collor: #2196f3;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --secondary-white-color: #ffffff;
  --icon-color: #afb1b8;
}
/* Обнуление */

/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
}

address {
  font-style: inherit;
}
body {
  font-family: 'roboto', sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.is-hidden {
  display: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

/* Стили текста и цвета */

/* Header */

header {
  background-color: var(--main-backgrond);
  border-bottom: 1px solid var(--secondary-backgrond);
}

/* Стиль логотиа */
.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 26px;
}
.main-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--accent-collor);
  font-weight: 700;
  font-size: 26px;
}
.logo:hover,
.logo:focus {
  text-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

/* Стили главной навигации */
.main-nav {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--accent-collor);
}

.active {
  color: var(--accent-collor);
  padding-bottom: 32px;
  border-bottom: 3px solid var(--accent-collor);
}

/* Стиль аднесса */
.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
  color: var(--accent-collor);
}

/* Footer */

.footer-logo {
  color: var(--secondary-white-color);
}
footer {
  color: var(--secondary-wight-color);
  background-color: #2f303a;
}

.footer-address {
  display: block;
  color: var(--secondary-white-color);
  margin-top: 8px;
}

.footer-link {
  color: var(--secondary-white-color);
  background: rgba(255, 255, 255, 0.1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-collor);
}
.subscribe {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.contacts .link {
  color: rgba(255, 255, 255, 0.6);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-collor);
}
.c-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.03em;
}

/* main */

.hero-title {
  color: var(--secondary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
}

.features-item {
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
}
/* work */

.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 117%;
  text-align: center;
}

.work-item {
  color: var(--secondary-white-color);
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

/* team */

.team {
  background-color: var(--secondary-backgrond);
}
.human:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.human-contacts .link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  width: 44px;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: var(--secondary-white-color);
}

.human-contacts .link:hover,
.human-contacts .link:focus {
  color: var(--secondary-white-color);
  background-color: var(--accent-collor);
}

.team-name {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  /* text-align: center; */
}

/* Company */

.company-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 117%;
  text-align: center;
}

.company-item:hover,
.company-item:focus {
  border-color: var(--accent-collor);
  color: var(--accent-collor);
}

/* portfolio */

.filtr-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  background-color: var(--secondary-backgrond);
  color: var(--secondary-text-color);
}

.portfolio-card:hover .filtr-item {
  color: var(--secondary-white-color);
  background-color: var(--accent-collor);
}

.projects-item {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
}

.human {
  background-color: var(--main-backgrond);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.box-title {
  position: absolute;
  bottom: 0;
  color: var(--secondary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-title,
.team-title,
.company-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
}

.invisibl {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
}

/* Блочная модель */

.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 3px solid aqua; */
}

.btn {
  display: inline-block;
  min-width: 200px;
  border: 1px solid transparent;
  padding: 10px 32px;
  border-radius: 6px;
  color: var(--secondary-white-color);
  background-color: var(--accent-collor);
}

btn:hover,
btn:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn:active {
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/* header */

/* header {
  padding: 25px 0;
} */

/* hero */

.hero {
  text-align: center;
  padding: 200px 0;
}

.hero-link {
  margin-top: 30px;
  text-align: center;
}

/* features */

.features {
  padding-top: 94px;
}

.features-text {
  margin-top: 10px;
}

/* Work */

.work {
  padding: 94px 0;
}

.box-title {
  width: 370px;
  padding: 27px 82px;
}

.work ul {
  margin-top: 50px;
}

/* team */

.team {
  padding: 94px 0;
}

.team ul {
  margin-top: 50px;
}

.human {
  width: 270px;
  text-align: center;
}

.team > ul {
  margin-top: 50px;
}

.human > h3 {
  margin-top: 30px;
}

.human > p {
  margin-top: 10px;
}

.human > ul {
  margin: 16px;
}

/* company */

.company {
  padding: 94px 0;
  text-align: center;
}

.company-list {
  margin-top: 50px;
}

/* footer */

.btn-icon {
  display: inline-flex;
  border: 1px solid transparent;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: var(--secondary-white-color);
  background: rgba(255, 255, 255, 0.1);
}

.btn-icon:hover,
.btn-icon:focus {
  background-color: var(--accent-collor);
}
.btn-icon:active {
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.icon-instagram {
  background-image: url(../img/instagram-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-twitter {
  background-image: url(../img/twitter-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-facebook {
  background-image: url(../img/facebook-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-linkedin {
  background-image: url(../img/linkedin-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.contacts > .link {
  display: block;
  margin-top: 9px;
}

.subscribe {
  color: var(--secondary-white-color);
  display: inline-block;
  margin-bottom: 20px;
}

/* c-right */

.c-right {
  padding: 18px 0 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* Portfolio */

.portfolio {
  padding: 94px 0;
}
/* filtr */

.btn-secondary {
  display: inline-block;
  min-width: 73px;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  color: var(--secondary-text-color);
  background-color: var(--secondary-backgrond);
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--secondary-white-color);
  background-color: var(--accent-collor);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.btn-secondary:active {
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.portfolio-card {
  width: 370px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
}

.portfolio-card:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.filtr-item {
  padding: 63px 24px;
}

.portfolio-card p {
  margin: 0;
}
.projects-item {
  margin: 20px 0 4px 0;
}

/* Flex index */

.flex-nav {
  display: flex;
}
.main-nav {
  margin-left: 85px;
}
.main-nav .item + .item {
  margin-left: 50px;
}
.flex-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 2px;
}

.header-address {
  display: flex;
  margin-left: auto;
}
.mail {
  margin-right: 50px;
}
.header-flex {
  display: flex;
  align-items: center;
}

.features-flex {
  display: flex;
}
.features-flex .item + .item {
  margin-left: 30px;
}

.work-flex {
  display: flex;
}
.work-flex .item + .item {
  margin-left: 30px;
}

.team-flex {
  display: flex;
}
.team-flex .human + .human {
  margin-left: 30px;
}

.human-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.human-contacts .item + .item {
  margin-left: 10px;
}

.company-list {
  display: flex;
}

.company-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
}

.company-list .company-item + .company-item {
  margin-left: 30px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
  padding-top: 48px;
  padding-bottom: 28px;
}

.sub-flex {
  display: flex;
}
.sub-flex .item + .item {
  margin-left: 10px;
}

.subscribe-conteiner {
  margin-left: 69px;
}

.form-conteiner {
  margin-left: 94px;
}

/* Flex portfolio */

.filtr-flex {
  display: flex;
  justify-content: center;
}
.filtr-flex .item + .item {
  margin-left: 8px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

/* Grid */

.portfolio-card {
  margin-top: 50px;
  margin-right: 30px;
}
.portfolio-card:nth-child(3n) {
  margin-right: 0;
}
.portfolio-card:nth-child(n + 4) {
  margin-top: 30px;
}

/* Оформление иконок и фона */

.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: rgba(47, 48, 58, 0.8);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/hero-img.jpg);
  background-repeat: no-repeat;
}

.form-conteiner .btn::after {
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../img/icon-send.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form-conteiner .btn {
  display: flex;
  align-items: center;
}

.features-item::before {
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-feature-1::before {
  background-image: url(../img/feature-1.svg);
}
.icon-feature-2::before {
  background-image: url(../img/feature-2.svg);
}
.icon-feature-3::before {
  background-image: url(../img/feature-3.svg);
}
.icon-feature-4::before {
  background-image: url(../img/feature-4.svg);
}

.human-contacts .icon {
  width: 20px;
  height: 20px;
}

.logo-1 {
  width: 45px;
  height: 50px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 43px;
}

.logo-4 {
  width: 80px;
  height: 42px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 89px;
  height: 45px;
}

.footer-logo,
.header-logo {
  width: 153px;
  height: 31px;
}
.mail,
.phone {
  display: flex;
  align-items: center;
}
.icon-mail {
  width: 16px;
  height: 11px;
}
.icon-phone {
  width: 10px;
  height: 15px;
}

.address-text {
  margin-left: 10px;
}

.icon {
  fill: currentColor;
}

.box {
  position: relative;
}
