header {
  position: fixed;

  width: 100%;
  @media screen and (max-width: $tablet) {
    height: 60px;
  }

  top: 0;
  left: 0;
  z-index: 10;
  background-color: $main-backgrond;
  border-bottom: 1px solid $secondary-backgrond;
}

.main-nav {
  color: $secondary-text-color;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-right: 85px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 305px;
  }

  & .link {
    transition: 250ms color $cubic;
  }
}
.header-flex {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.mobile-menu {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}
.flex-nav {
  @media screen and (max-width: $tablet) {
    margin-bottom: 60px;
    & .link {
      display: inline-block;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    & .item + .item {
      margin-left: 50px;
    }
    & .link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      border-radius: 2px;
    }
  }

  &:hover,
  &:focus {
    color: $accent-collor;
  }
}

.active {
  position: relative;
  color: $accent-collor;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    border: $accent-collor solid 2px;
    border-radius: 2px;

    content: '';
  }
}
.header-address {
  display: flex;
  justify-content: center;
  align-items: baseline;
  // margin-left: auto;
  color: $main-text-color;
  @media screen and (max-width: $desktop) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.mail {
  transition: 250ms color $cubic;
  @media screen and (max-width: $desktop) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 50px;
  }

  &:hover,
  &:focus {
    color: $accent-collor;
  }
}
.phone {
  transition: 250ms color $cubic;

  &:hover,
  &:focus {
    color: $accent-collor;
  }
}

.icon-mail {
  width: 16px;
  height: 11px;
}
.icon-phone {
  width: 10px;
  height: 15px;
}
