.portfolio {
  @media screen and (max-width: $desktop) {
    padding: 60px 0;
  }
  padding: 94px 0;
}

/* filtr */

.filtr-flex {
  @media screen and (max-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    & .item:not(:last-child) {
      margin-right: 8px;
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    & .item:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.filtr-item {
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;

  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  background-color: rgba(33, 150, 243, 0.9);
  color: $secondary-white-color;
  opacity: 0;
  transform: translateY(100%);

  transition: 250ms transform $cubic, 250ms opacity $cubic;
}

.btn-secondary {
  display: inline-block;
  min-width: 73px;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  color: $secondary-text-color;
  background-color: $secondary-backgrond;
  transition: 250ms all $cubic;

  &:hover,
  &:focus {
    color: $secondary-white-color;
    background-color: $accent-collor;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }

  &:active {
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
}
.projects-list {
  @media screen and (max-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.portfolio-card {
  width: 370px;
  border: 1px solid #eeeeee;
  @media screen and (max-width: $tablet) {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $tablet) {
    margin: 15px;

    width: calc((100% - 2 * 30px) / 2);
  }
  // grid

  // box-shadow

  &:hover,
  &:focus-within {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
    transition: 250ms box-shadow $cubic;
  }

  // animation

  &:hover .filtr-item,
  &:focus-within .filtr-item {
    transform: translateY(0);
    opacity: 1;
  }

  & .animation {
    position: relative;
    overflow: hidden;
  }

  & .description {
    padding-left: 24px;
  }
}

.projects-item {
  margin: 20px 0 4px 0;
  color: $secondary-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
}

.portfolio-card a {
  display: block;
  padding-bottom: 20px;
}

.portfolio-card p {
  margin: 0;
}
