.company {
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }
  padding: 94px 0;
  text-align: center;
}
.company-list {
  @media screen and (max-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.company-item {
  @media screen and (max-width: $tablet) {
    margin: 15px;
    height: 90px;
    width: calc((100% - 2 * 30px) / 2);

    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: $icon-color;
    transition: 250ms color $cubic;
  }

  & .link {
    outline: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover,
  &:focus-within {
    border-color: $accent-collor;
    color: $accent-collor;
  }
}
.company-title {
  margin-bottom: 30px;
}
.logo-1 {
  width: 45px;
  height: 50px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 43px;
}

.logo-4 {
  width: 80px;
  height: 42px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 89px;
  height: 45px;
}
