.features {
  @media screen and (max-width: $desktop) {
    padding: 60px 0;
  }
  padding-top: 94px;
}

.features-flex {
  @media screen and (max-width: $desktop) {
    &:not(:last-child) .item {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    & .item {
      margin: 15px;
      width: calc((100% - 2 * 30px) / 2);
    }
  }
}
.features-item {
  color: $secondary-text-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  &:before {
    display: block;
    content: '';
    // width: 270px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f5f4fa;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.features-text {
  margin-top: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
}

.icon-feature-1::before {
  background-image: url(../img/feature-1.svg);
}
.icon-feature-2::before {
  background-image: url(../img/feature-2.svg);
}
.icon-feature-3::before {
  background-image: url(../img/feature-3.svg);
}
.icon-feature-4::before {
  background-image: url(../img/feature-4.svg);
}
