.team {
  @media screen and (max-width: $desktop) {
    padding: 60px 0;
  }
  padding: 94px 0;
  background-color: $secondary-backgrond;
}

.team-name {
  margin-top: 30px;
  color: $secondary-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-flex {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: -15px;
    margin-top: 30px;
  }

  & .human {
    padding-bottom: 24px;
    width: 270px;
    text-align: center;
    background-color: $main-backgrond;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);

    @media screen and (max-width: $tablet) {
      margin: 0 auto;
      margin-top: 30px;
    }
    @media screen and (min-width: $tablet) {
      margin: 15px;
      // width: calc((100% - 2 * 30px) / 2);
    }
  }
}

.human-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  & .item + .item {
    margin-left: 10px;
  }
  & .icon {
    width: 20px;
    height: 20px;
  }
}

.human-contacts .link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $icon-color;
  width: 44px;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: $secondary-white-color;
  transition: 250ms color $cubic, 250ms background-color $cubic;

  &:hover,
  &:focus {
    color: $secondary-white-color;
    background-color: $accent-collor;
  }
}

.human > p {
  color: $main-text-color;
  margin-top: 10px;
}
